$conifer-100: #18201f;
$conifer-200: #1b2423;
$conifer-300: #232f2d;
$conifer-400: #2b3b37;
$conifer-500: #384d48;
$conifer-600: #455e59;
$conifer-700: #67837e;
$conifer-800: #a8c7c0;
$conifer-900: #dde5ed;

$floral-yellow: #ffff57;

$background: $conifer-500;
$on-background: $conifer-900;

$surface: $conifer-200;
$on-surface: $conifer-900;
